<h2><%= @cocktail.name %></h2>
<hr>

<h3>Ingredients</h3>
<ul>
  <li>Ingredient 1, 300ml</li>
  <li>Ingredient 2, 200mg</li>
  <li>Ingredient 3, 3 leafs</li>
</ul>

<%= link_to "â† Back to cocktails", cocktails_path, class: "btn btn-default" %>
