/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h2 {
  margin-top: 8px;
}

#add-cocktail {
  padding-right: 44px;
  i {
    position: absolute;
    top: 17px;
    right: 32px;
  }
}
