<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h2>Add new dose</h2>

      <%= render "form", cocktail: @cocktail, dose: @dose %>

      <%= link_to "â† Back to cocktails", cocktails_path, class: "btn btn-default" %>

    </div>
  </div>
</div>
